body 
{
    background:beige;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background: #c9ad9b;
    height: 20vh;
    width: 100%;
    display: inline-flex;
    position: fixed;
    z-index: 999;
}

header img
{
    width: 9vw;
    height: 18vh;
}

header ul 
{
    list-style: none;
    display: inline-flex;
    font-size: 3.5vh;
    padding-left: 55vw;
    padding-top: 10vh;
}

header ul li 
{
    padding-left: 2.5vw;
    font-family: verdana;
    color: rgb(247, 112, 112);
}

header a
{
    text-decoration: none;
}

header ul li:hover
{
    transform: scale(1.2);
    transition: 0.5s;
    color: brown;
    cursor: pointer;
}

.donuts-1-fil, .donuts-2-fil, .donuts-3-fil, .donuts-4-fil
{
    display: inline-flex;
    text-align: center;
    gap:3vw;
    margin-top: 2vw;
}

.alinhar
{
    text-align: center;
}

.donuts-1-fil img, .donuts-2-fil img, .donuts-3-fil img, .donuts-4-fil img
{
    width: 18vw;
    height: 32vh;
}

.donuts-1-fil div, .donuts-2-fil div, .donuts-3-fil div, .donuts-4-fil div
{
    background-color: #FFDBE5;
    width: 20vw;
    height: 60vh;
    filter: brightness(95%);
    border-radius: 5vh;
    margin-bottom: 5vh;
    
}

.donuts-1-fil div:hover, .donuts-2-fil div:hover, .donuts-3-fil div:hover, .donuts-4-fil div:hover
{
    cursor:pointer;
    transform: scale(1.06);
    transition: 0.5s ease-out;
}

.title-donuts
{
    color: brown;
    text-align: center;
    font-weight: 900;
    font-size: 3.5vh;
}

.txt-div{
    color: brown;
    font-size:15px;
    padding: 1vh;
}

#imgsLide
{
   width: 100%;
   height: 100vh;
}

.title
{
    margin-top: 3vh;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 5vh;
    color: rgb(170, 73, 73);
}

input
{
   width: 13vw;
   height: 6vh;
   font-size: 16px;
   cursor: pointer;
   color: rgb(160, 99, 99);
   background-color:antiquewhite;
   
}

.buttons
{
    padding: 3vw;
    margin-left: 40vw;
}

.buttons :hover
{
    opacity:0.9;
}

.btn{
    border: none;
    border-radius: 5vh;
    color: white;
    background-color: #c98195;
}

#botoes_slide
{
    visibility: hidden;
}

.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer img{
    width: 9vw;
    height: 18vh;
}

.footer
{
    background: #C9AD9B66;
    height: fit-content;
}

.direitos
{
    font-size: 8px;
    text-align: center;
    font-family: arial;
}

.redes-sociais{
    padding: 2vw;
    cursor: pointer;
    text-align: center;
}

.sob1, .sob2, .sob3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}


